# Core dependencies
tensorflow==2.13.0
tensorflow-addons==0.23.0
tensorflow-estimator==2.13.0
numpy==1.24.3
pandas==2.2.3
matplotlib==3.10.0
scikit-learn==1.6.0
astropy==6.1.7
sunpy==6.0.4
torch==2.6.0
pillow==9.5.0
h5py==3.13.0
tqdm==4.67.1
requests==2.31.0
fastparquet==2024.11.0
pyarrow==19.0.0
scipy==1.14.1
seaborn==0.13.2

# HPO dependencies
optuna==3.6.1
ray[tune]==2.9.3
plotly==5.18.0
kaleido==0.2.1

# Environmental impact tracking
codecarbon==2.3.4
black[jupyter]
